In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [5]:
df = pd.read_csv('cardio_train.csv', sep=';', index_col='id')
df

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [6]:
target = df['cardio']
df = df.drop('cardio', axis=1)
target

id
0        0
1        1
2        1
3        1
4        0
        ..
99993    0
99995    1
99996    1
99998    1
99999    0
Name: cardio, Length: 70000, dtype: int64

In [7]:
X_train, X_test, y_train, y_test = train_test_split(df, target, test_size=0.33, random_state=42)

In [11]:
def Tree(df, target, X, y, X2, y2):
    clf = tree.DecisionTreeClassifier()
    clf = clf.fit(X, y)
    
    print(clf.predict(X2))
    
    print(clf.score(X, y))
    print(classification_report(y2, clf.predict(X2)))
    
    plt.figure(figsize=(12, 18))
    tree.plot_tree(clf, fontsize=10)
    plt.show()

In [ ]:
Tree(df, target, X_train, y_train, X_test, y_test)

[1 1 1 ... 1 1 1]
0.9998720682302772
              precision    recall  f1-score   support

           0       0.63      0.63      0.63     11506
           1       0.64      0.64      0.64     11594

    accuracy                           0.64     23100
   macro avg       0.64      0.64      0.64     23100
weighted avg       0.64      0.64      0.64     23100